.wrapper {
    max-height: 350px;
    border: 1px solid #eeeeee;
    &:hover {
        box-shadow: 0 0 20px #eeeeee;
    }
}

.image {
    width: 100%;
    height: 60%;
    padding: 16px 40px 0px;
    transition: all 0.9s ease;
    &:hover {
        scale: calc(1.1);
    }
}

.info {
    margin-top: 20px;
    color: var(--black);
    text-align: center;
    .name {
        height: 70px;
        margin: 10px 0;
        font-family: var(--font-normal);
        font-weight: 400;
    }
    .price {
        color: var(--primary);
    }
    .symbol {
        position: absolute;
        font-size: 0.8rem;
        padding-bottom: 100px;
    }
}