.wrapper {
    margin: 100px 0 50px;
    padding-left: var(--padding-format);
    padding-right: var(--padding-format);
    font-family: var(--font-normal);
}

.contact {
    display: flex;
}

.contact__right,
.contact__left {
    width: 50%;
    padding-right: 30px;
    color: var(--black);
    .contact__left-row {
        margin-top: 30px;
        .contact__left-row-input {
            height: 36px;
            width: 100%;
            margin-top: 10px;
            border: 1px solid #dbdbdb;
            &:focus {
                outline: none;
            }
        }
        .input-height {
            height: 100px;
        }
        .red {
            color: red;
        }
    }
    .contact__left-btn {
        height: 44px;
        width: 120px;
        color: var(--white);
        background-color: var(--black);
        font-family: var(--font-normal);
        font-weight: 400;
        font-size: 1rem;
        border: 1px solid var(--primary);
        cursor: pointer;
        &:hover {
            background-color: var(--primary);
        }
    }
}